<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="recurring">
      <ion-icon name="sync-outline"></ion-icon>
      <ion-label>Recurring</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
